{% extends 'base.html.twig' %}

{% block title %}
    {{ controller_name }}
{% endblock %}

{% block nav %}
    <nav class="white blog-menu" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">SPACE-BLOG</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Article</a></li>
                <li><a href="#">Evenement</a></li>
                <li><a href="#">News</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Article</a></li>
                <li><a href="#">Evenement</a></li>
                <li><a href="#">News</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}