<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <h2>Inscription réussie</h2>
        <p>Bonjour {{ name }} vous êtes bien inscrit sur Space-Blog !</p>
        <a href="{{ url('login') }}">Se connecter</a>
        <p>Merci</p>
    </body>
</html>
